.layout {
  .header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 0 5px 2px #eeecec !important;
  }

  .footer {
    background-color: #e6e6e6;
    padding: 2rem 0;
    p {
      text-align: center;
      color: #222;
    }
  }
}
