.storybook-stack {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 1.5rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
